body {
    color: black;
    background-color: rgb(146, 230, 211);
}

.Header {
    color: black;
    background-color: blueviolet;
}

.Content {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    margin-top: 50px;
    color: azure;
    background-color: black;
    border-style: dashed;
    border-radius: 10%;
    border-color: red;
    justify-items: center;
}

.Footer {
    justify-content: center;
    align-items: center;
    color: azure;
    background-color: black;
}

#mainP {
    width: 50%;
}

#mainI {
    width: 30%;
    align-items: end;
}